<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/proStyle.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/pagination.css}">
</head>
<body>
<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>
<div class="container" style="max-width: 100%;padding-right: 0px;padding-left: 0px;">
  <div class="py-5 text-center">
    <h2>상품목록</h2>
  </div>
  <div class="row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<form th:action="@{/com.solponge/admin/member}" method="get">
    <select name="searchSelect" class="search-select">
      <option value="all">전체</option>
      <option value="productTitle">도서명</option>
      <option value="productWriter">저자</option>
    </select>
    <input type="text" name="searchValue">
    <button type="submit">검색</button>
  </form>
  </div>
  <hr class="my-4">
  <div>
    <table class="yogi">
      <thead>
      <tr>
        <th width="10%"></th>
        <th>번호</th>
        <th>이미지</th>
        <th width = "20%">상품명</th>
        <th width = "10%">작가</th>
        <th>가격</th>
        <th>페이지 수</th>
        <th>재고</th>
        <th>판매량</th>
        <th>조회수</th>
        <th></th>
        <th></th>
        <th width="10%"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${paginatedProduct}">
        <form th:action="@{/com.solponge/admin/product/{productNum}(productNum=${product.productNum})}">
          <td width="10%"></td>
          <td th:text="${product.productNum}"></td>
          <td> <img th:src="${product.productImg}" style="width: 50px;" alt="img"></td>
          <td th:text="${product.productTitle}"></td>
          <td th:text="${product.productWriter}"></td>
          <td th:text="${product.productPrice}">원</td>
          <td th:text="${product.productPage}"></td>
          <td th:text="${product.productStock}"></td>
          <td th:text="${product.productSale}"></td>
          <td th:text="${product.productVisit}"></td>
          <td>
            <div class="col">
              <button class="w-100 btn btn-primary btn-lg" type="submit">정보수정</button>
            </div>
          <td width="10%"></td>
        </form>
      </tr>
      </tbody>
    </table>
    <br>
  </div>
</div> <!-- /container -->
<th:block>
  <!-- Paging navigation component -->
  <nav id="paging" aria-label="Page navigation example" style="clear: both;">
    <ul class="pagination justify-content-center" style="padding: 0">
      <!-- Previous button -->
      <li class="page-item" th:classappend="${nowPage == 1 ? 'disabled' : ''}">
        <a class="page-link" th:href="@{/com.solponge/admin/product(page=${nowPage - 2}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" tabindex="-1"
           th:aria-disabled="${nowPage == 1}">Previous</a>
      </li>
      <!-- Page numbers -->
      <li class="page-item" th:each="page : ${#numbers.sequence(startPage,endPage)}"
          th:classappend="${nowPage == page ? 'active' : ''}">
        <a class="page-link" th:href="@{/com.solponge/admin/product(page = ${page - 1}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" th:text="${page}"></a>
      </li>
      <!-- Next button -->
      <li class="page-item" th:classappend="${nowPage == totalPages ? 'disabled' : ''}" style="margin-right: 44px">
        <a class="page-link" th:href="@{/com.solponge/admin/product(page=${nowPage}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" th:aria-disabled="${nowPage == totalPages}">Next</a>
      </li>
    </ul>
  </nav>
</th:block>

<footer>
  <div th:insert="~{fragment/footer :: footer}"></div>
</footer>
</body>
</html>