<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/paymentList.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
  <style>
    .order-group {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: rgb(102,153,255);
    }

    .product-image {
      width: 50px;
      height: auto;
    }

    h3 {
      margin-bottom: 20px;
    }





  </style>
</head>
<body>
<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>
<div id="paymentlist">
  <div id="sidebar">
    <table>
      <tr>
        <td><a class="link" th:href="@{'/com.solponge/member/' + ${session.loginMember.memberNum} + '/myPage'}">정보수정</a></td>
      </tr>
      <tr>
        <td class="link" style="background-color: #007bff;"><a th:href="@{'/com.solponge/member/' + ${session.loginMember.memberNum} + '/paymentList'}" style="color:white;">구매목록</a></td>
      </tr>
      <tr>
        <td class="link"><a th:href="@{'/com.solponge/member/' + ${session.loginMember.memberNum} + '/myPage/jobScrap'}">스크랩</a></td>
      </tr>
    </table>
  </div>

  <div th:if="${#lists.isEmpty(paymentListMap)}" class="cart" style="min-height: 500px">
    <h1 th:text="|${session.loginMember.getMemberName()}  님의 장바구니|"></h1>
    <p style="text-align: center; font-size: 1.5rem; font-weight: bold;">주문목록이 비어있습니다</p>
    <div style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
">
      <button onclick="location.href='/com.solponge/productList'"
              style="
      width: 500px;
      padding: 10px;
      background-color: rgb(102,153,255);
      color: #fff;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 10px;
    ">
        상품 보러 가기
      </button>
    </div>
  </div>
  <div th:if="${not #lists.isEmpty(paymentListMap)}" class="cart">
    <div th:each="paymentGroup : ${paymentListMap.payments}" class="order-group">
      <div>
        <td th:text="|주문번호 : ${paymentGroup.key}|"></td>
      </div>
      <table>
        <thead>
        <tr>
          <th colspan="2">상품</th>
          <th>가격</th>
          <th>수량</th>
          <th>주문일</th>
          <th>배송조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${paymentGroup.value}">
          <td><img class="product-image" th:src="${order.product.productImg}" th:onclick="'location.href=\'/com.solponge/product/' + ${order.product.productNum} + '\''"></td>
          <td th:text="${order.product.productTitle}" th:field="${order.product.productTitle}" th:onclick="'location.href=\'/com.solponge/product/' + ${order.product.productNum} + '\''"></td>
          <td th:text="${order.product.productPrice} + '원'" th:field="${order.product.productPrice}"></td>
          <td th:text="${order.paymentStock}"></td>
          <td th:text="${#temporals.format(order.paymentDate, 'yyyy.MM.dd')}"></td>
          <td onclick="window.open('https://tracker.delivery/#/kr.cjlogistics/${i.delivery_num}','배송조회','width=430, height=600')" class="del">배송조회</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>



</div>


<footer>
  <div th:insert="~{fragment/footer :: footer}"></div>
</footer>
</body>
</html>