<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div th:insert="~{fragment/header :: header}"></div>
</header>
<div id="container_booklist">
    <div id="row2">
        <form action="/com.solponge/jobInfo" accept-charset="utf-8" name="book_info" method="get">
            <h3 id="newbook">
               <!-- <span th:if="${status.equals('Yes')}">검색된 공고</span>
                <span th:if="${!status.equals('Yes')}">새로 등록된 공고</span>-->
                <span>
                    <select name="SearchSelect">
                        <option value="all">전체</option>
                        <option value="jobInfoCompanyName">회사명</option>
                        <option value="jobInfoPositing">공고명</option>
                        <option value="jobInfoFieldTagList">기술 태그</option>
                        <option value="jobInfoQualification">지원자격</option>
                        <option value="jobInfoWorkType">고용 형태</option>
                    </select>
                    <input type="text" name="SearchValue" size="15" value="검색 내용">
                    <button type="submit"><img src="/img/Magnifier.png" style="width: 20px;" alt="Search"></button>
                </span>
            </h3>
        </form>

        <form id="my-form">
            <table id="Newjob8" style="font-size: 13px;">
                <tr id="Newjob8th" style="text-align: center; background: #f2f9fe">
                    <td style="width: 220px; height: 44px">기업명</td>
                    <td style="width: 420px; height: 44px">제목</td>
                    <td style="width: 180px; height: 44px">지원자격</td>
                    <td style="width: 150px; height: 44px">근무조건</td>
                    <td>마감일</td>
                </tr>
                <tr th:each="NewJopInfo, status : ${paginatedjobinfo}" id="Newjob8td">
                    <input type="hidden" th:id="'infoname_' + ${NewJopInfo.jobInfoNum}" th:value="${NewJopInfo.jobInfoPostingName}"/>
                    <input type="hidden" th:id="'companyName_' + ${NewJopInfo.jobInfoNum}" th:value="${NewJopInfo.jobInfoCompanyName}"/>
                    <td class="infonum" style="height: 54px">
                        <div class="url" th:onclick="'system.location.href =\'/com.solponge/jobinfolist/' + ${NewJopInfo.jobInfoCompanyName} + '\''" th:text="${NewJopInfo.jobInfoCompanyName}"></div>
                        <button class="heart" th:classappend="${JobScrap['response_' + NewJopInfo.jobInfoCompanyName]} ? 'red' : ''" th:id="${NewJopInfo.jobInfoNum}" type="button" onclick="submitForm(this.id)" value="Click">&#10084;</button>
                    </td>
                    <td style="height: 54px">
                        <div class="url" th:onclick="'system.location.href =\'/com.solponge/jobinfo/' + ${NewJopInfo.jobInfoNum} + '\''" th:text="${NewJopInfo.jobInfoNum}"></div>
                        <button class="star" th:classappend="${JobScrap2['response_' + NewJopInfo.jobInfoPostingName]} ? 'yellow' : ''" th:id="${NewJopInfo.jobInfoNum}_star" type="button" onclick="submitForm2(this.id)" value="Click">✭</button>
                        <br>
                        <span style="font-size: 10px" th:text="${NewJopInfo.jobInfoFieldTagList}"></span>
                    </td>
                    <td style="height: 54px" th:text="${NewJopInfo.jobInfoQualification}"></td>
                    <td style="text-align: center; height: 54px">
                        <span th:text="${NewJopInfo.jobInfoWorkType}"></span>
                        <br>
                        <span th:text="${NewJopInfo.jobInfoWorkArea}"></span>
                    </td>
                    <td style="height: 54px" th:text="${NewJopInfo.jobInfoDeadline}"></td>
                </tr>
            </table>
        </form>

        <th:block>
            <!-- Paging navigation component -->
            <nav id="paging" aria-label="Page navigation example" style="clear: both;">
                <ul class="pagination justify-content-center" style="padding: 0">
                    <!-- Previous button -->
                    <li class="page-item" th:classappend="${nowPage == 1 ? 'disabled' : ''}">
                        <a class="page-link" th:href="@{/com.solponge/productList(page=${nowPage - 2}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" tabindex="-1"
                           th:aria-disabled="${nowPage == 1}">Previous</a>
                    </li>
                    <!-- Page numbers -->
                    <li class="page-item" th:each="page : ${#numbers.sequence(startPage,endPage)}"
                        th:classappend="${nowPage == page ? 'active' : ''}">
                        <a class="page-link" th:href="@{/com.solponge/productList(page = ${page - 1}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" th:text="${page}"></a>
                    </li>
                    <!-- Next button -->
                    <li class="page-item" th:classappend="${nowPage == totalPages ? 'disabled' : ''}" style="margin-right: 44px">
                        <a class="page-link" th:href="@{/com.solponge/productList(page=${nowPage}, searchSelect = ${param.searchSelect}, searchValue = ${param.searchValue})}" th:aria-disabled="${nowPage == totalPages}">Next</a>
                    </li>
                </ul>
            </nav>
        </th:block>
    </div>
</div>
    <footer>
    <div th:insert="~{fragment/footer :: footer}"></div>
</footer>
</body>
</html>