
/* Pagination container */
#paging {
    margin-top: 20px;
    text-align: center;
}

/* Pagination links */
.pagination {
    display: inline-block;
    margin-bottom: 0;
}

.pagination .page-item {
    display: inline;
}

.pagination .page-link {
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 6px 12px;
    margin: 0 4px;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination {
    display: inline-block;
    margin: 0 auto;
}

.pagination li {
    display: inline;
    margin: 0 1px;
}

.pagination li.active a {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination li a {
    color: #007bff;
    border: 1px solid #007bff;
    padding: 6px 12px;
}

.pagination li a:hover {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination li.disabled a {
    color: #6c757d;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #6c757d;
}

#paymentlist {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 10%;
}
img{
    width: 100px;
}
.tittxt, .pritxt{
    width: 500px;
}
.del{
    width: 150px;
}
#sidebar{
    display:inline-block;
    float:left;
    width:150px;
    margin-top: 20px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
}
#productinfo{
    display:inline-block;
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 1050px;
    left: 52px;
    position:relative;
}
.suctxt{
    padding-left: 20px;
    height: 20px;
}
.pritxt, .tittxt{
    padding-left: 20px;
}
.remove, .del, .propage{
    text-align: center;
}
.visi{
    cursor: pointer;
}
.del, .propage{
    background-color: darkgrey;
    color: white;
    cursor: pointer;
}
.tdbody{
    margin-top: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 10px;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}
.iiimm{
    width: 150px;
    text-align: center;
}
