<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
        content="Start your development with Pigga landing page.">
  <meta name="author" content="Devcrud">
  <title>Home Shopping Site</title>

  <style>
    .url{
      float: left;
    }
    .url:hover {
      cursor: pointer;
    }
    .heart {
      width: 25px;
      font-size: 15px;
      color: gray;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    .heart.red {
      width: 25px;
      font-size: 15px;
      color: red;
      background-color: transparent;
      border: none;
    }
    .star {
      width: 25px;
      font-size: 15px;
      color: gray;
      cursor: pointer;
      background-color: transparent;
      border: none;
    }

    .star.yellow {
      width: 25px;
      font-size: 15px;
      color: sandybrown;
      background-color: transparent;
      border: none;
    }
  </style>

  <link rel="stylesheet" th:href="@{/css/headerFooter.css}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script language="JavaScript">

    function submitForm(clicked_id) {
      var buttonElement = document.getElementById(clicked_id);
      var usercheck = {/*[[${loginMember != null ? loginMember.memberNum : ''}]]*/};
      var companyScrap={
        memberNum:"[[${loginMember != null ? loginMember.memberNum : ''}]]",
        companyName:clicked_id
      }

      if (!buttonElement.classList.contains('red')) {
        buttonElement.classList.add('red');
        if (usercheck.length !== null) {
          let scrapCompany = JSON.stringify(companyScrap);
          $.ajax({
            type: "POST"
            , url: "/scrap/company"
            , contentType: "application/json"
            , data: scrapCompany
            , success: function() {

            }
            , error: function() {
              alert('찜 등록에 실패했습니다. 관리자에게 문의해주세요.');
            }
          });
        } else {
          alert('찜 등록에 실패했습니다. 로그인을 해주세요');
          location.href = "/login";
        }
      } else {
        buttonElement.classList.remove('red');
        if (usercheck.length !== 0) {
          let scrapCompany = JSON.stringify(companyScrap);
          $.ajax({
            type: "DELETE"
            , url: "/scrap/company/delete"
            , contentType: "application/json"
            , data: scrapCompany
            , success: function() {

            }
            , error: function() {
              alert('찜 삭제 실패했습니다. 관리자에게 문의해주세요.');
            }
          });
        }
      }
    }
    function submitForm2(clicked_id) {
      var buttonElement = document.getElementById(clicked_id);
      var jobInfoNum = buttonElement.value;
      console.log("clicked_id",clicked_id)
      var usercheck = "[[${loginMember != null ? loginMember.memberNum : ''}]]";
      var infoScrap={
        memberNum:"[[${loginMember != null ? loginMember.memberNum : ''}]]",
        infoName:clicked_id,
        jobInfoNum:jobInfoNum
      }
      console.log("infoScrap",infoScrap)

      if (!buttonElement.classList.contains('yellow')) {
        buttonElement.classList.add('yellow');
        if (usercheck.length !== 0) {
          let scrapInfo = JSON.stringify(infoScrap);
          $.ajax({
            type: "POST"
            , url: "/scrap/job"
            , contentType: "application/json"
            , data: scrapInfo
            , success: function() {

            }
            , error: function() {
              alert('찜 등록에 실패했습니다. 관리자에게 문의해주세요.');
            }
          });
        } else {
          alert('찜 등록에 실패했습니다.');
          location.href = "/login";
        }
      } else {
        buttonElement.classList.remove('yellow');
        if (usercheck.length !== 0) {
          let scrapInfo = JSON.stringify(infoScrap);
          $.ajax({
            type: "DELETE"
            , url: "/scrap/job/delete"
            , contentType: "application/json"
            , data: scrapInfo
            , success: function() {

            }
            , error: function() {
              alert('찜 삭제 실패했습니다. 관리자에게 문의해주세요.');
            }
          });
        }
      }
    }
    $(document).ready(function () {
      var $banner = $('.banner ul');
      var $bannerWidth = 790;
      var $bannerHeight = 320;
      var $length = $banner.find("li").length;
      function rollingStart() {
        $banner.css("width", $bannerWidth * $length + "px");
        $banner.css("height", $bannerHeight + "px");
        //alert(bannerHeight);
        //배너의 좌측 위치를 옮겨 준다.
        $banner.animate({left: -$bannerWidth + "px"}, 1500, function () { //숫자는 롤링 진행되는 시간이다.
          //첫번째 이미지를 마지막 끝에 복사(이동이 아니라 복사)해서 추가한다.
          $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
          //뒤로 복사된 첫번재 이미지는 필요 없으니 삭제한다.
          $(this).find("li:first").remove();
          //다음 움직임을 위해서 배너 좌측의 위치값을 초기화 한다.
          $(this).css("left", 0);
          //이 과정을 반복하면서 계속 롤링하는 배너를 만들 수 있다.
          setTimeout(rollingStart, 2000);
        });
      }
      rollingStart(); // 함수를 처음 호출하고, setTimeout이 더 이상 중첩되지 않도록 함
    });
    //-->
  </script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<header>
  <div th:insert="~{fragment/header :: header}"></div>
</header>
<div id="container">
  <div class="container_left">
    <div class="banner">
      <ul>
        <li>
          <img
                  src="https://www.i-boss.co.kr/og-BD3207-413-gif"
                  width="760px"
                  height="320px"
          />
        </li>
        <li>
          <img
                  src="https://cdn.imweb.me/thumbnail/20210514/30c731865b9c8.png"
                  width="760px"
                  height="320px"
          />
        </li>
        <li>
          <img
                  src="https://publy.imgix.net/images/2021/05/18/1621306911_AsZ4ZT3kNYYDZ9zMgb3BTdFTlCZuJsr5P8LhqOaD.jpeg?fm=pjpg"
                  width="760px"
                  height="320px"
          />
        </li>
      </ul>
    </div>
    <div id="row">
      <h3 class="newbook">
        새로나온책!!!<span><a href="/com.solponge/productList">전체보기</a></span>
      </h3>
      <div th:each="productNew : ${newTop8List}" class="column">
        <a th:href="@{/com.solponge/product/{productNum}(productNum=${productNew.productNum})}">
          <img th:src="${productNew.productImg}" th:alt="${productNew.productTitle}"
               style="width: 197px; height: 266px;" />
        </a>
        <h2 th:text="${#strings.abbreviate(productNew.getProductTitle(), 12)}">
          <a th:href="@{/com.solponge/product/{productNum}(productNum=${productNew.productNum})}"></a>
        </h2>
        <p th:text="${productNew.productPrice + '원'}">
          <a th:href="@{/com.solponge/product/{productNum}(productNum=${productNew.productNum})}"></a>
        </p>
      </div>
      <div th:if="${#lists.isEmpty(newTop8List)}">새로운 책이 없습니다.</div>

      <hr style="clear:both;">
      <h3 class="newbook">
        새로 등록된 공고!!!<span><a href="/com.solponge/jobInfo">전체보기</a></span>
      </h3>
      <form id="my-form">
        <table id="Newjob8" style="font-size: 13px;">
          <tr id="Newjob8th" style="text-align: center; background: #f2f9fe">
            <td style="width: 160px; height: 44px">기업명</td>
            <td style="width: 360px; height: 44px">제목</td>
            <td style="width: 160px; height: 44px">지원자격</td>
            <td style="width: 150px; height: 44px">근무조건</td>
            <td>마감일</td>
          </tr>
          <tr th:each="NewJopInfo, status : ${getJopInfoNewTop8List}">
            <input type="hidden" th:id="${NewJopInfo.jobInfoNum}" th:value="${NewJopInfo.jobInfoPostingName}"/>
            <input type="hidden" th:id="${NewJopInfo.jobInfoNum}" th:value="${NewJopInfo.jobInfoCompanyName}"/>
            <td th:style="'height: 54px;'">
              <div class="url" th:attr="onclick='window.location.href =\'' + '/com.solponge/jobinfo/' + ${NewJopInfo.jobInfoCompanyName} + '\';'" th:text="${NewJopInfo.jobInfoCompanyName}"></div>
              <!-- 회사 스크랩 버튼 -->
              <button class="heart" th:id="${NewJopInfo.jobInfoCompanyName}" type="button" onclick="submitForm(this.id)" value="Click"
                     th:classappend="${loginMember!=null and companyNames.contains(NewJopInfo.jobInfoCompanyName) ? 'heart red':''}">&#10084;</button>
            </td>
            <td th:style="'height: 54px;'">
              <div class="url" th:attr="onclick='window.location.href =\'' + '/com.solponge/jobinfo/' + ${NewJopInfo.jobInfoNum} + '\';'" th:text="${NewJopInfo.jobInfoPostingName}"></div>
              <!-- 정보 스크랩 버튼 -->
              <button class="star" th:id="${NewJopInfo.jobInfoPostingName}" type="button" onclick="submitForm2(this.id)" th:value="${NewJopInfo.jobInfoNum}"
                     th:classappend="${loginMember!=null and infoNames.contains(NewJopInfo.jobInfoPostingName) ? 'start yellow':''}">&#10029;</button>
              <br>
              <span style="font-size: 10px" th:text="${NewJopInfo.jobInfoFieldTagList}"></span>
            </td>
            <td th:style="'height: 54px;'" th:text="${NewJopInfo.jobInfoQualification}"></td>
            <td th:style="'text-align: center; height: 54px;'" th:text="${NewJopInfo.jobInfoWorkType + ' ' + NewJopInfo.jobInfoWorkArea}"></td>
            <td th:style="'height: 54px;'" th:text="${NewJopInfo.jobInfoDeadline}"></td>
          </tr>
        </table>
      </form>
      <div th:if="${#lists.isEmpty(getJopInfoNewTop8List)}">새로 등록된 공고가 없습니다.</div>
    </div>
  </div>
  <div class="container_right">
    <br/>
    <h3 class="newbook">
      인기 상품<span><a href="#">전체보기</a></span>
    </h3>
    <table>
      <tr th:each="popularTop, status : ${popTop8List}">
        <td><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.productNum})}"><img th:src="${popularTop.productImg}"/></a></td>
        <td>
          <table>
            <tr>
              <td class="book_rank"><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.productNum})}" th:text="|${status.count}위|"></a></td>
            </tr>
            <tr>
              <td class="book_rank_writer">
                <a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.productNum})}">
                  <span th:if="${#strings.length(popularTop.productWriter) > 10}" th:text="${#strings.substring(popularTop.productWriter, 0, 9)}+'...'"></span>
                  <span th:if="${#strings.length(popularTop.productWriter) <= 10}" th:text="${popularTop.productWriter}"></span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="book_rank_title">
                <a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.productNum})}">
                  <span th:if="${#strings.length(popularTop.productTitle) > 12}" th:text="${#strings.substring(popularTop.productTitle, 0, 9)}+'...'"></span>
                  <span th:if="${#strings.length(popularTop.productTitle) <= 12}" th:text="${popularTop.productTitle}"></span>
                </a>
              </td>
            </tr>
            <tr>
              <td class="book_rank_sales"><a th:href="@{/com.solponge/product/{product_num}(product_num=${popularTop.productNum})}" th:text="|${popularTop.productSale}개 판매!|"></a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>


  <div th:if="${#lists.isEmpty(popTop8List)}">인기 상품이 없습니다.</div>
  </div>
</div>
<footer class="border border-dark border-left-0 border-right-0 border-bottom-0 p-4 bg-dark">
  <div th:insert="~{fragment/footer :: footer}"></div>
</footer>
</body>
</html>
