<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <head>
    <title>Title</title>
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
      var lists = {
        paymentNum:"[[${payForm.paymentNum}]]",
        memberNum:"[[${payForm.memberNum}]]",
        memberName:"[[${payForm.memberName}]]",
        memberAddress:"[[${session.loginMember.memberAddress}]]",
        memberPhone:"[[${payForm.memberPhone}]]",
        memberEmail:"[[${payForm.memberEmail}]]",
        deliveryInfo:"[[${payForm.deliveryInfo}]]",
        orderList: "[[${payForm.orderList}]]"
      }
      function parseOrderList(orderListString) {
        const regex = /OrderList\(([^)]+)\)/g;
        const orders = [];

        let match;
        while ((match = regex.exec(orderListString)) !== null) {
          const orderString = match[1];
          const keyValuePairs = orderString.split(', ');
          const order = {};

          keyValuePairs.forEach(pair => {
            const [key, value] = pair.split('=');
            order[key] = isNaN(value) ? value : Number(value);
          });

          orders.push(order);
        }

        return orders;
      }

      const orderListString = lists.orderList;
      const orderList = parseOrderList(orderListString);
      lists.orderList = orderList;


      console.log("[[${payForm.paymentNum}]]");
      console.log(lists);
      const IMP = window.IMP;   // 생략 가능
      IMP.init("imp32154105"); // 예: imp00000000
      //결제 및 입력검증
      window.onload = function requestPay() {
        IMP.request_pay({
          pg: "html5_inicis.INIpayTest",
          pay_method: "card",
          merchant_uid: "[[${payForm.paymentNum}]]",   // 주문번호
          name: "결제하기",
          amount: 100,                         // 숫자 타입
          buyer_email: "[[${session.loginMember.memberEmail}]]",
          buyer_name: "[[${session.loginMember.memberName}]]",
          buyer_tel: "[[${session.loginMember.memberPhone}]]",
          buyer_addr: "[[${session.loginMember.memberAddress}]]",
          buyer_postcode: "[[${#strings.arraySplit(session.loginMember.memberAddress,'/')[0]}]]"
        }, function (res) { // callback
          if (true) {
            /*if (rsp.success) {*/
            // axios로 HTTP 요청
            jQuery.ajax({
              url: "/com.solponge/member/"+[[${session.loginMember.memberNum}]]+"/payments/su",
              method: "post",
              contentType: "application/json;charset=UTF-8",
              data: JSON.stringify(lists),
              success: function(res){
                alert("결제 성공했습니다.");
                console.log(res)
                location.replace("/com.solponge/member/"+[[${session.loginMember.memberNum}]]+"/payments/success")
              },
              error: function (res){
                alert("결제 실패했습니다.zz");
                console.log(res)
                location.replace("/com.solponge/member/"+[[${session.loginMember.memberNum}]]+"/payments/fail");
              }
            });
          }else {
            window.location.href ="/com.solponge/member/"+[[${session.loginMember.memberNum}]]+"/payments/fail";
          }
        });
      }
      console.log("[[${payForm.paymentNum}]]"+"[[${session.loginMember.memberEmail}]]"+"[[${session.loginMember.memberName}]]"+"[[${session.loginMember.memberPhone}]]")
    </script>
  </head>
</head>
<body>
</body>
</html>